head
	meta(charset="UTF-8")
	title Start
	meta(name="description", content="")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(property="og:image", content = "assets/css/image.jpg")

	link(rel="shortcut icon", href = "assets/img/favicon/favicon.ico", type="image/x-icon")
	link(rel="apple-touch-icon", href = "assets/img/favicon/apple-touch-icon.png")
	link(rel="apple-touch-icon", sizes="72x72", href = "assets/img/favicon/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="114x114", href = "assets/img/favicon/apple-touch-icon-114x114.png")

	meta(name="theme-color" content="#000")
	meta(name="msapplication-navbutton-color" content="#000")
	meta(name="apple-mobile-web-app-status-bar-style" content="#000")

	link(rel="stylesheet", href = "assets/css/main.min.css")

	

